<div class="watch-items-add">
  <mat-form-field>
    <input matInput type="text" placeholder="Enter watchlist name" [(ngModel)]="listName">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Add Stock Symbol" (keydown.enter)="AddItem($event.target.value)" [(ngModel)]="symbol">
  </mat-form-field>
  <div class="list-wrapper">
    <div *ngFor="let item of newListItems; let i = index" class="list-items">
      <span class="sym-area">{{item}}</span>
      <button mat-icon-button (click)="removeItem(i, item)">
        <mat-icon>clear</mat-icon>
      </button>
    </div>
  </div>
  <div class="submit-button">
  	<button mat-stroked-button (click)="createWatchlist">
  	Create List 
  	</button>
  </div>
</div>
