<div class="main-container">
  <mat-toolbar>
    <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1>Stock Tracker</h1>
  </mat-toolbar>
  <mat-sidenav-container class="slider-container">
    <mat-sidenav #snav opened mode="side" class="slider-nav">
      <a href routerLink="/landing">
        <button mat-button>Home</button>
      </a>
      <a href routerLink="/AddList">
        <button mat-button>New Watch List</button>
      </a>
      <a href routerLink="/landing">
        <button mat-button>View Watch Lists</button>
      </a>
      <a href routerLink="/landing">
        <button mat-button>Help</button>
      </a>
    </mat-sidenav>
    <router-outlet></router-outlet>
  </mat-sidenav-container>
</div>
